.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    gap: 15px;
    padding: 20px;
    flex: 1;
}

.nav1{
    color: white;
    text-decoration: none;
}
.nav1:hover{
    color: red;
}